<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="LocalRootFolder" value="C:\MySynch.Source.Test.Root\"/>
  </appSettings>
  <system.serviceModel>
    <services>
      <service name="MySynch.Core.ChangePublisher" behaviorConfiguration="PublisherSubscriberServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8000/publisher"/>
          </baseAddresses>
        </host>
        <!-- this endpoint is exposed at the base address provided by host: http://localhost:8000/publisher  -->
        <endpoint address="" binding="wsHttpBinding" contract="MySynch.Contracts.IPublisher"
                  behaviorConfiguration="EndPointBehavior"/>
        <!-- the mex endpoint is exposed at http://localhost:8000/publisher/mex -->
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service name="MySynch.Core.RemoteSourceOfData" behaviorConfiguration="PublisherSubscriberServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8000/datasource"/>
          </baseAddresses>
        </host>
        <!-- this endpoint is exposed at the base address provided by host: http://localhost:8000/datasource  -->
        <endpoint address="" binding="wsHttpBinding" contract="MySynch.Contracts.ISourceOfData"
                  bindingConfiguration="MtomBinding"
                  behaviorConfiguration="EndPointBehavior"/>
        <!-- the mex endpoint is exposed at http://localhost:8000/datasource/mex -->
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <bindings>
      <wsHttpBinding>
        <binding name="MtomBinding" messageEncoding="Mtom"/>
      </wsHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="PublisherSubscriberServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="False"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="EndPointBehavior">
          <auditInspector/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <extensions>
      <behaviorExtensions>
        <add
          name="auditInspector"
          type="MySynch.Common.MySynchAuditBehavior, MySynch.Common"/>
      </behaviorExtensions>
    </extensions>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
