<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section
      name="mySynchPublisherConfiguration"
      type="MySynch.Core.Configuration.MySynchPublisherConfigurationSection, MySynch.Core"
      allowLocation="true"
      allowDefinition="Everywhere"
      />
  </configSections>
  <mySynchPublisherConfiguration
    LocalRootFolder="C:\MySynch.Source.Test.Root\"
    BrokerUrl="http://sciendo-laptop/brokerdbg/"
    CommunicationLogging="notverbose"
    InstanceName="publisherdbg"
    ConsiderOfflineChanges="Yes"
      />
</configuration>
