<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
      <section
        name="mySynchBrokerConfiguration"
        type="MySynch.Core.Configuration.MySynchBrokerConfigurationSection, MySynch.Core"
        allowLocation="true"
        allowDefinition="Everywhere"
      />
  </configSections>
    <mySynchBrokerConfiguration 
      StoreName="brokerstoredata.xml" 
      StoreType="IStore.Registration.FileSystemStore"
      CommunicationLogging="notverbose"
      InstanceName="brokerdbg"
      BrokerMonitorInstanceName="brokermonitordbg"
      />
</configuration>