<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <mySynchBrokerConfiguration
  StoreName="brokerstoredata.xml"
  StoreType="IStore.Registration.FileSystemStore"
  CommunicationLogging="notverbose"
  InstanceName="broker"
  BrokerMonitorInstanceName="brokermonitor"
      xdt:Locator="Match(StoreName)" xdt:Transform="Replace"/>

</configuration>