<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="StoreName" value="brokerstoredata.xml"/>
    <add key="StoreType" value="IStore.Registration.FileSystemStore"/>
    <add key="CommunicationLogging" value="notverbose" />
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
