<?xml version="1.0"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IPublisher">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
              enabled="false" />
        </binding>
        <binding name="WSHttpBinding_ISourceOfData"
            messageEncoding="Mtom" maxReceivedMessageSize="65000000">
          <readerQuotas maxArrayLength="650000000"/>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8000/publisher" binding="wsHttpBinding"
          bindingConfiguration="WSHttpBinding_IPublisher" contract="MySynch.Contracts.IPublisher"
          name="PublisherSciendoLaptop">
      </endpoint>
      <endpoint address="http://localhost:8000/datasource" binding="wsHttpBinding"
          bindingConfiguration="WSHttpBinding_ISourceOfData" contract="MySynch.Contracts.ISourceOfData"
          name="SourceOfDataSciendoLaptop">
      </endpoint>
      <endpoint address="http://localhost:8000/subscriber" binding="wsHttpBinding"
          bindingConfiguration="WSHttpBinding_IPublisher" contract="MySynch.Contracts.IChangeApplyer"
          name="SubscriberSciendoLaptop">
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>
