<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section
      name="mySynchSubscriberConfiguration"
      type="MySynch.Core.Configuration.MySynchLocalComponentConfigurationSection, MySynch.Core"
      allowLocation="true"
      allowDefinition="Everywhere"
      />
  </configSections>
  <mySynchSubscriberConfiguration
    LocalRootFolder="C:\MySynch.Dest.Test.Root\"
    BrokerUrl="http://sciendo-laptop/brokerdbg/"
    CommunicationLogging="notverbose"
    InstanceName="subscriberdbg"
      />
</configuration>
