<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <add key="LocalRootFolder" value="C:\MySynch.Dest.Test.Root\"/>
    <add key="CommunicationLogging" value="notverbose"/>
    <add key="BrokerUrl" value="http://sciendo-laptop/brokerdbg/"/>
    <add key="InstanceName" value="subscriberdbg"/>
  </appSettings>
</configuration>
