<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="MySynch.Core.Subscriber" behaviorConfiguration="PublisherSubscriberServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8000/subscriber"/>
          </baseAddresses>
        </host>
        <!-- this endpoint is exposed at the base address provided by host: http://localhost:8000/subscriber  -->
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration ="MySynchWsHttpBinding" contract="MySynch.Contracts.ISubscriber"
                  behaviorConfiguration="EndPointBehavior"/>
        <!-- the mex endpoint is exposed at http://localhost:8000/subscriber/mex -->
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <client>
      <endpoint address="http://localhost:8000/datasource" binding="wsHttpBinding"
    bindingConfiguration="WSHttpBinding_ISourceOfData" contract="MySynch.Contracts.ISourceOfData"
    name="SourceOfDataSciendoLaptop">
        <identity>
          <dns value="SCIENDO-LAPTOP"/>
        </identity>
      </endpoint>
    </client>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_ISourceOfData"
    messageEncoding="Mtom" maxReceivedMessageSize="65000000">
          <readerQuotas maxArrayLength="650000000"/>
          <security mode="None">
            <transport clientCredentialType="None" />
            <message establishSecurityContext="false" />
          </security>
        </binding>
        <binding name="MySycnhWsHttpBinding">
          <security mode="None">
            <transport clientCredentialType="None" />
            <message establishSecurityContext="false" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="PublisherSubscriberServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="False"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="EndPointBehavior">
          <auditInspector/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <extensions>
      <behaviorExtensions>
        <add
          name="auditInspector"
          type="MySynch.Common.MySynchAuditBehavior, MySynch.Common"/>
      </behaviorExtensions>
    </extensions>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <add key="LocalRootFolder" value="C:\MySynch.Dest.Test.Root\"/>
  </appSettings>
</configuration>
