<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
      <section
        name="MySynchBrokerEmpty"
        type="MySynch.Core.Configuration.MySynchBrokerConfigurationSection, MySynch.Core"
        allowLocation="true"
        allowDefinition="Everywhere"
      />
    <section
      name="MySynchBrokerMinimal"
      type="MySynch.Core.Configuration.MySynchBrokerConfigurationSection, MySynch.Core"
      allowLocation="true"
      allowDefinition="Everywhere"
      />
    <section
      name="MySynchBrokerAll"
      type="MySynch.Core.Configuration.MySynchBrokerConfigurationSection, MySynch.Core"
      allowLocation="true"
      allowDefinition="Everywhere"
      />
    <section
      name="MySynchLCEmpty"
      type="MySynch.Core.Configuration.MySynchLocalComponentConfigurationSection, MySynch.Core"
      allowLocation="true"
      allowDefinition="Everywhere"
      />
    <section
      name="MySynchLCMinimal"
      type="MySynch.Core.Configuration.MySynchLocalComponentConfigurationSection, MySynch.Core"
      allowLocation="true"
      allowDefinition="Everywhere"
      />
    <section
      name="MySynchLCAll"
      type="MySynch.Core.Configuration.MySynchLocalComponentConfigurationSection, MySynch.Core"
      allowLocation="true"
      allowDefinition="Everywhere"
      />
  </configSections>
  <MySynchLCAll
  LocalRootFolder="mylocalRootFolder"
  BrokerUrl="myBrokerUrl"
  CommunicationLogging="verbose"
  InstanceName="myLC"
  MonitorInstanceName="myLCmonitor"/>

  <MySynchLCMinimal
  InstanceName="myLC"
  BrokerUrl="myBrokerUrl"
  LocalRootFolder="mylocalRootFolder"
  MonitorInstanceName="myLCmonitor"
  />

  <MySynchLCEmpty
      />

  <MySynchBrokerAll
  StoreName="mystorename"
  StoreType="mystoretype"
  CommunicationLogging="verbose"
  InstanceName="mybroker"
  MonitorInstanceName="mybrokermonitor"
      />

  <MySynchBrokerMinimal
  InstanceName="mybroker"
  MonitorInstanceName="mybrokermonitor"/>

  <MySynchBrokerEmpty
      />
</configuration>
