<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="LocalDistributorPort" value="8765"/>
    <add key="DistributorMap" value="c:\code\sciendo\mysynch\mysynch.distributor\map\distributormap.xml"/>
  </appSettings>
  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
