<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="DistributorMap" value="C:\Code\Sciendo\MySynch\MySynch.Distributor\bin\Debug\map\distributormap.xml"/>
  </appSettings>
  <system.serviceModel>
    <services>
      <service name="MySynch.Core.Distributor" behaviorConfiguration="DistributorServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8000/distributorMonitor"/>
          </baseAddresses>
        </host>
        <!-- this endpoint is exposed at the base address provided by host: http://localhost:8000/distributorMonitor  -->
        <endpoint address="" binding="wsHttpBinding" contract="MySynch.Contracts.IDistributorMonitor"
                  behaviorConfiguration="EndPointBehavior"/>
        <!-- the mex endpoint is exposed at http://localhost:8000/distributorMonitor/mex -->
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="DistributorServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="False"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="EndPointBehavior">
          <auditInspector/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <client>
      <endpoint address="http://localhost:8000/publisher" binding="wsHttpBinding"
          bindingConfiguration="WSHttpBindingMySynch" contract="MySynch.Contracts.IPublisher"
          name="PublisherSciendoLaptop">
        <identity>
          <dns value="SCIENDO-LAPTOP"/>
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8000/subscriber" binding="wsHttpBinding"
    bindingConfiguration="WSHttpBindingMySynch" contract="MySynch.Contracts.ISubscriber"
    name="SubscriberSciendoLaptop">
        <identity>
          <dns value="SCIENDO-LAPTOP"/>
        </identity>
      </endpoint>
    </client>
    <extensions>
      <behaviorExtensions>
        <add
          name="auditInspector"
          type="MySynch.Common.MySynchAuditBehavior, MySynch.Common"/>
      </behaviorExtensions>
    </extensions>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBindingMySynch">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
              enabled="false" />
          <security mode="None">
            <transport clientCredentialType="None" />
            <message establishSecurityContext="false" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>

  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
