<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="DistributorMap" value="C:\Code\Sciendo\MySynch\MySynch.Distributor\bin\Debug\map\distributormap.xml"/>
    <add key="InstancePort" value="8765"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
