<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="BROKER">
            <Directory Id="dir5F8F70BA50BE44B167E03C2340BFFA6A" Name="CodeContracts" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="BrokerGroup">
            <Component Id="cmp02D2D31395B33CD09C2D77C5AA3B09E7" Directory="BROKER" Guid="{0DFC797F-AF8C-444C-AB40-687E66808D59}">
                <File Id="filB0E7D86EEDD1081A6516CBCE2F2F8AFB" KeyPath="yes" Source="$(var.BrokerSource)\Castle.Core.dll" />
            </Component>
            <Component Id="cmpA871F69FB8022BD7A058B3AE1BBD9F36" Directory="BROKER" Guid="{A6D6C898-FDED-4388-9852-A0EC136BB76A}">
                <File Id="fil5148A5D85F4F0C853D76A3D0066AEC2C" KeyPath="yes" Source="$(var.BrokerSource)\Castle.Core.pdb" />
            </Component>
            <Component Id="cmpE290A2044EB41FBD94D958CB408F460F" Directory="BROKER" Guid="{D3915F9B-617E-4B9D-9ED4-446F44696F58}">
                <File Id="filCC61C8FE7D43F06D8760986FEE74E75B" KeyPath="yes" Source="$(var.BrokerSource)\Castle.Core.xml" />
            </Component>
            <Component Id="cmp1A90EDBDA2F631AA2F90C57CA3082EC3" Directory="BROKER" Guid="{77A1217F-FD05-4023-BF7D-641B9A28DDEF}">
                <File Id="fil289F8B4708F4D65084C2152ED59575C3" KeyPath="yes" Source="$(var.BrokerSource)\Castle.Windsor.dll" />
            </Component>
            <Component Id="cmp33B2918CECA1DA0B0784C820537658D4" Directory="BROKER" Guid="{C1F1D1EC-074A-4527-B45B-6D33C3E7D476}">
                <File Id="fil29AC3F70B3825DFAED676E49B7B4FF90" KeyPath="yes" Source="$(var.BrokerSource)\Castle.Windsor.pdb" />
            </Component>
            <Component Id="cmp02B99ED331DB1C8664F6E7D77052A6A4" Directory="BROKER" Guid="{D0B3B155-F8A6-411B-B2B7-95E4CA0B1EFB}">
                <File Id="fil60D70C357AFB1A4411EEFC4F158015C2" KeyPath="yes" Source="$(var.BrokerSource)\Castle.Windsor.xml" />
            </Component>
            <Component Id="cmp179BDCE49CB6D80F2A88561E5D28FC49" Directory="BROKER" Guid="{53E4FDD7-7700-45FF-AC28-89693E6E7444}">
                <File Id="fil4FB98ADD92DF2C666B7691CDF35E4F11" KeyPath="yes" Source="$(var.BrokerSource)\Hardcodet.Wpf.TaskbarNotification.dll" />
            </Component>
            <Component Id="cmp6500D438EAB3D55AAFE199E2DD8E6A78" Directory="BROKER" Guid="{5274226D-8E91-4A31-8D83-58ED697F655F}">
                <File Id="fil7596787B54006BA5FB2E42042EFD2763" KeyPath="yes" Source="$(var.BrokerSource)\Hardcodet.Wpf.TaskbarNotification.pdb" />
            </Component>
            <Component Id="cmp077E068ADCCAA13EDE806CF15756CB18" Directory="BROKER" Guid="{590939D8-4E7A-4196-8793-E44DC0B29821}">
                <File Id="fil189F4280AE6ACEEE0331999B33C23EF7" KeyPath="yes" Source="$(var.BrokerSource)\Hardcodet.Wpf.TaskbarNotification.xml" />
            </Component>
            <Component Id="cmpB90934FF2417250ECA58D5517D2C0A8F" Directory="BROKER" Guid="{1D3E2083-5D48-4460-A444-A22870E4DECF}">
                <File Id="fil53999E17B525B0E9613EB3D449BC2492" KeyPath="yes" Source="$(var.BrokerSource)\log4net.config" />
            </Component>
            <Component Id="cmp25E7D1D348B103F94AD0BDC784E4DA42" Directory="BROKER" Guid="{48CBF8DF-028F-4274-AD1A-62C85A89B395}">
                <File Id="fil52C4F7BCD891046C6C74FE34A7A1C953" KeyPath="yes" Source="$(var.BrokerSource)\log4net.dll" />
            </Component>
            <Component Id="cmp0AEE413F92920A4D5D3D1B741F212ED4" Directory="BROKER" Guid="{A511F0E3-42AE-4ED7-A3F1-FB9737EA6DB9}">
                <File Id="filA2B63416AC7544D3B68452F20AE18CDA" KeyPath="yes" Source="$(var.BrokerSource)\log4net.xml" />
            </Component>
            <Component Id="cmp0A809BF3BECCA9141BCB66E5454B28D5" Directory="BROKER" Guid="{CCFB62C4-4BAF-4A6C-8109-FFC43B71BAD0}">
                <File Id="filB8B37882E54EB69465A59ED481D8104B" KeyPath="yes" Source="$(var.BrokerSource)\MySynch.Common.dll" />
            </Component>
            <Component Id="cmpC753BD81123DA1DA37442DF340602E64" Directory="BROKER" Guid="{3AD4D82F-5A0E-4101-BF47-86BEB80F379E}">
                <File Id="fil6DF27CB95324EE3CE08EC4AFB83433F0" KeyPath="yes" Source="$(var.BrokerSource)\MySynch.Contracts.dll" />
            </Component>
            <Component Id="cmpC96B2A7CDDCB63FC0CAD58B144982AC3" Directory="BROKER" Guid="{8886A7F3-F7BF-4FFF-8D3E-9EF8BAAB0650}">
                <File Id="fil49848E5A58A3C54388E011AB5D9F55E1" KeyPath="yes" Source="$(var.BrokerSource)\MySynch.Core.dll" />
            </Component>
            <Component Id="cmpD126C6762D9A5BBEA764B2430D65A1BA" Directory="BROKER" Guid="{125EE57D-74EE-4784-898F-24A413B057DF}">
                <File Id="fil243460029612D1CF64672767536076EC" KeyPath="yes" Source="$(var.BrokerSource)\MySynch.Monitor.pdb" />
            </Component>
            <Component Id="cmp29B31CFB49C7AB443DFE0D07E8F455F7" Directory="BROKER" Guid="{E29D585A-A0AF-498A-8047-8AFA00C39F2A}">
                <File Id="fil9E053695606130840AD31E8FFFF0FE54" KeyPath="yes" Source="$(var.BrokerSource)\MySynch.Proxies.Autogenerated.dll" />
            </Component>
            <Component Id="cmpDE212BCFF28BAE7D6DE81696D9FE6E2E" Directory="dir5F8F70BA50BE44B167E03C2340BFFA6A" Guid="{96B2C95B-A44F-4D1D-B2D9-1FAAF7845249}">
                <File Id="fil4B4DC515EDAF3C7EBE77F40FF6CA4432" KeyPath="yes" Source="$(var.BrokerSource)\CodeContracts\MySynch.Broker.noReferenceAssembly" />
            </Component>
        </ComponentGroup>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir5F8F70BA50BE44B167E03C2340BFFA6A" />
    </Fragment>
</Wix>