<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="DISTRIBUTOR">
            <Directory Id="dirF62B52D5FB8B7D3C7C7EC470D059B6F8" Name="map" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="DistributorGroup">
            <Component Id="cmp20F8F30B1ABCFD78BC215117C95CD878" Directory="DISTRIBUTOR" Guid="{FDB112BD-FDE9-42BF-A115-AD78247DF579}">
                <File Id="fil25BC6B3E8B4982250D98B069E8BE1734" KeyPath="yes" Source="$(var.DistributorSource)\Castle.Core.dll" />
            </Component>
            <Component Id="cmpDB61A9B2864B2153DB86BBDCEE536353" Directory="DISTRIBUTOR" Guid="{555B115F-FEC4-4AAA-9217-4032F340BFFF}">
                <File Id="fil96A8B9FA32A66D1FBC8403D8A5984A87" KeyPath="yes" Source="$(var.DistributorSource)\Castle.Core.pdb" />
            </Component>
            <Component Id="cmp2CD66415690ECD578DEBF995E5FBC18C" Directory="DISTRIBUTOR" Guid="{F0FB43B9-6348-4292-8B55-B4B4D9AA4B11}">
                <File Id="filBD126E9D3539629E7F31052CF403775D" KeyPath="yes" Source="$(var.DistributorSource)\Castle.Core.xml" />
            </Component>
            <Component Id="cmpA0E42B87814E311F2A2B7674B55A2AD4" Directory="DISTRIBUTOR" Guid="{AB320FE4-FE1F-40CD-AF8F-297E394302FD}">
                <File Id="fil5D9D58504C9277CC76DD0D6A7CAF0910" KeyPath="yes" Source="$(var.DistributorSource)\Castle.Windsor.dll" />
            </Component>
            <Component Id="cmp17CE1215FB4DC19EF95843CD915B3700" Directory="DISTRIBUTOR" Guid="{5ED2FC98-1188-4053-B9E7-8981BF9CB55C}">
                <File Id="fil533D50512A46ECC3D9036883D8010A59" KeyPath="yes" Source="$(var.DistributorSource)\Castle.Windsor.pdb" />
            </Component>
            <Component Id="cmp89363456A8734D9CA7B681D6A1874D7C" Directory="DISTRIBUTOR" Guid="{CECECA44-4385-4682-97E9-71B9D3DA5608}">
                <File Id="fil1C33C48A4D79A42BECCE8D8F830EA5BF" KeyPath="yes" Source="$(var.DistributorSource)\Castle.Windsor.xml" />
            </Component>
            <Component Id="cmp31AA2F027D6A1E23FE0A62E0540BC26D" Directory="DISTRIBUTOR" Guid="{06C9CA7E-63E0-499F-BCCC-6F2ECAF76602}">
                <File Id="fil2B6DF434237985E135E6F88C5682B999" KeyPath="yes" Source="$(var.DistributorSource)\log4net.config" />
            </Component>
            <Component Id="cmp6D3880ECA45DCAD2DEE11B2EB38AE36F" Directory="DISTRIBUTOR" Guid="{055D3AB6-1955-4937-B100-87D975E656EA}">
                <File Id="fil3929CCE6FEC3B76A482FC982AF17B3D9" KeyPath="yes" Source="$(var.DistributorSource)\log4net.dll" />
            </Component>
            <Component Id="cmpC98179D05713853DA82CBBF7E1DA4655" Directory="DISTRIBUTOR" Guid="{C6AA3B1E-4A9F-4D40-9A28-2213A6743E46}">
                <File Id="filE56BE26C23C982977401E7EE9246FBEC" KeyPath="yes" Source="$(var.DistributorSource)\log4net.xml" />
            </Component>
            <Component Id="cmpF2C64F5C7266B6FBBBEB907583E09E94" Directory="DISTRIBUTOR" Guid="{FBAB5FB8-127E-404E-9EB5-D3D1E1FED3C7}">
                <File Id="fil3FE27E4037F3A1009EDB46B64C8FC96D" KeyPath="yes" Source="$(var.DistributorSource)\MySynch.Common.dll" />
            </Component>
            <Component Id="cmp73BB1EEB9E13ECE198394FD0EA8A707C" Directory="DISTRIBUTOR" Guid="{19916E2D-01FA-4AFF-969C-79AD5662491D}">
                <File Id="filA3EC21402F50AC4C94CBA98BD7EC596D" KeyPath="yes" Source="$(var.DistributorSource)\MySynch.Common.pdb" />
            </Component>
            <Component Id="cmpF930B2D0A6A8ABDDAA5D6ABF6DF82898" Directory="DISTRIBUTOR" Guid="{B7DEB511-29A1-4E4E-A33E-FC5CCD8832B6}">
                <File Id="fil0585421C1C9906D3743E0A33E7264FB2" KeyPath="yes" Source="$(var.DistributorSource)\MySynch.Contracts.dll" />
            </Component>
            <Component Id="cmp36441EA39956CA8965CA618CCD75E56A" Directory="DISTRIBUTOR" Guid="{E2A2B44B-EDCD-4073-88BF-FEB56FE4D02C}">
                <File Id="fil2BDF2E59A8632684305BFC8C1DC8D573" KeyPath="yes" Source="$(var.DistributorSource)\MySynch.Contracts.pdb" />
            </Component>
            <Component Id="cmpE79301B5FA8BF5136B5A35A3D6C8EA7B" Directory="DISTRIBUTOR" Guid="{06B446A1-CE34-4E37-AFEB-D17E8271BCF8}">
                <File Id="filEF4B0FCD23B5D2FAF07482DF6B0E27E7" KeyPath="yes" Source="$(var.DistributorSource)\MySynch.Core.dll" />
            </Component>
            <Component Id="cmp43E83A79BF5E23FF1C0A202BDE015BE6" Directory="DISTRIBUTOR" Guid="{88F5E319-861E-4A4B-8D8F-746E5860C3C1}">
                <File Id="filAD0A6B26ABEF085548B3F2CF9E3F292B" KeyPath="yes" Source="$(var.DistributorSource)\MySynch.Core.pdb" />
            </Component>
            <Component Id="cmpF364630D0E987EE779C6FFF0134BA6B5" Directory="DISTRIBUTOR" Guid="{5DF32057-6D0A-4ED8-ABAD-2C15D2C3BD29}">
                <File Id="filFB35767815588D95131CEFB5E459C061" KeyPath="yes" Source="$(var.DistributorSource)\MySynch.Core.WCF.Clients.dll" />
            </Component>
            <Component Id="cmpDB174DF5795BCBAC3B78B989BE7EE72B" Directory="DISTRIBUTOR" Guid="{C2A325A3-FE78-4913-AA8E-DEB70D0FDB03}">
                <File Id="fil8857BDFB936620DD15472E3093502B0B" KeyPath="yes" Source="$(var.DistributorSource)\MySynch.Core.WCF.Clients.pdb" />
            </Component>
            <Component Id="cmp49763E4F8062CBEEDB1EA15615AD7F7D" Directory="DISTRIBUTOR" Guid="{466DC459-8299-4A67-B054-38DF53372B56}">
                <File Id="filFD5C817A4149E067A76A0EA279D01832" KeyPath="yes" Source="$(var.DistributorSource)\MySynch.Proxies.dll" />
            </Component>
            <Component Id="cmp75701AA91B1C074ADA413FE098437FEE" Directory="DISTRIBUTOR" Guid="{BAA1F5FD-354C-477D-B3C2-4FA167A0FE47}">
                <File Id="filD2C7BD4A21ADD248CD669D0607EA9755" KeyPath="yes" Source="$(var.DistributorSource)\MySynch.Proxies.pdb" />
            </Component>
            <Component Id="cmp3DCEB894F1D51A1631DBCB9AC59EC05C" Directory="dirF62B52D5FB8B7D3C7C7EC470D059B6F8" Guid="{DE0C6131-E7B3-40B5-8518-356D8F76D6D0}">
                <File Id="filB687B0B0532DEC04FCE1FA9E6EBF7C42" KeyPath="yes" Source="$(var.DistributorSource)\map\distributormap.xml" />
            </Component>
        </ComponentGroup>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dirF62B52D5FB8B7D3C7C7EC470D059B6F8" />
    </Fragment>
</Wix>