<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="DISTRIBUTOR">
            <Directory Id="dirF62B52D5FB8B7D3C7C7EC470D059B6F8" Name="map" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="DistributorGroup">
            <Component Id="cmp20F8F30B1ABCFD78BC215117C95CD878" Directory="DISTRIBUTOR" Guid="{35D09A45-5D83-4815-8818-273F0ACF7381}">
                <File Id="fil25BC6B3E8B4982250D98B069E8BE1734" KeyPath="yes" Source="$(var.DistributorSource)\Castle.Core.dll" />
            </Component>
            <Component Id="cmpDB61A9B2864B2153DB86BBDCEE536353" Directory="DISTRIBUTOR" Guid="{32B2F40E-53BD-4D33-9D92-E2BE05F29B4E}">
                <File Id="fil96A8B9FA32A66D1FBC8403D8A5984A87" KeyPath="yes" Source="$(var.DistributorSource)\Castle.Core.pdb" />
            </Component>
            <Component Id="cmp2CD66415690ECD578DEBF995E5FBC18C" Directory="DISTRIBUTOR" Guid="{1553E671-CF00-4FE2-8A97-A7AE823E2F42}">
                <File Id="filBD126E9D3539629E7F31052CF403775D" KeyPath="yes" Source="$(var.DistributorSource)\Castle.Core.xml" />
            </Component>
            <Component Id="cmpA0E42B87814E311F2A2B7674B55A2AD4" Directory="DISTRIBUTOR" Guid="{DF4E9596-3CDC-4B0D-85A9-AD060165C4D2}">
                <File Id="fil5D9D58504C9277CC76DD0D6A7CAF0910" KeyPath="yes" Source="$(var.DistributorSource)\Castle.Windsor.dll" />
            </Component>
            <Component Id="cmp17CE1215FB4DC19EF95843CD915B3700" Directory="DISTRIBUTOR" Guid="{11A17B5A-D5A5-44E7-A42B-05FF250A2FA6}">
                <File Id="fil533D50512A46ECC3D9036883D8010A59" KeyPath="yes" Source="$(var.DistributorSource)\Castle.Windsor.pdb" />
            </Component>
            <Component Id="cmp89363456A8734D9CA7B681D6A1874D7C" Directory="DISTRIBUTOR" Guid="{F0E69144-F1DE-403D-BFE5-FB1196B4C45A}">
                <File Id="fil1C33C48A4D79A42BECCE8D8F830EA5BF" KeyPath="yes" Source="$(var.DistributorSource)\Castle.Windsor.xml" />
            </Component>
            <Component Id="cmpD4CA8221F072E3EE8C451DCD429E781D" Directory="DISTRIBUTOR" Guid="{30328C09-1381-4488-9906-E780A14F9631}">
                <File Id="fil9B6C52298D93D6D4D4BC2E84D77ECAF8" KeyPath="yes" Source="$(var.DistributorSource)\Hardcodet.Wpf.TaskbarNotification.dll" />
            </Component>
            <Component Id="cmp57F446156B69658338174D1B66EA22FC" Directory="DISTRIBUTOR" Guid="{B86F9877-D341-4EFD-9AAB-A33078D0E33F}">
                <File Id="fil8DE1D9CA258B649D56E6A731298127B9" KeyPath="yes" Source="$(var.DistributorSource)\Hardcodet.Wpf.TaskbarNotification.pdb" />
            </Component>
            <Component Id="cmpA7B0CFF64A8A2A376B7BBF8F66CCE5F2" Directory="DISTRIBUTOR" Guid="{B8BF8B7D-221A-4FB7-AA2E-339B8F566033}">
                <File Id="filF2EA53A21EB44FD5465B81ADB97E8F5C" KeyPath="yes" Source="$(var.DistributorSource)\Hardcodet.Wpf.TaskbarNotification.xml" />
            </Component>
            <Component Id="cmp31AA2F027D6A1E23FE0A62E0540BC26D" Directory="DISTRIBUTOR" Guid="{C250FE78-6143-4A88-87BC-5E9F981189AB}">
                <File Id="fil2B6DF434237985E135E6F88C5682B999" KeyPath="yes" Source="$(var.DistributorSource)\log4net.config" />
            </Component>
            <Component Id="cmp6D3880ECA45DCAD2DEE11B2EB38AE36F" Directory="DISTRIBUTOR" Guid="{37FCE133-5D58-4C2F-B03C-1CA31BA58DAD}">
                <File Id="fil3929CCE6FEC3B76A482FC982AF17B3D9" KeyPath="yes" Source="$(var.DistributorSource)\log4net.dll" />
            </Component>
            <Component Id="cmpC98179D05713853DA82CBBF7E1DA4655" Directory="DISTRIBUTOR" Guid="{3EF2E217-4231-4278-8691-D837189347CC}">
                <File Id="filE56BE26C23C982977401E7EE9246FBEC" KeyPath="yes" Source="$(var.DistributorSource)\log4net.xml" />
            </Component>
            <Component Id="cmpF2C64F5C7266B6FBBBEB907583E09E94" Directory="DISTRIBUTOR" Guid="{6242C449-E72F-4C51-9D60-8CA046CC0D7D}">
                <File Id="fil3FE27E4037F3A1009EDB46B64C8FC96D" KeyPath="yes" Source="$(var.DistributorSource)\MySynch.Common.dll" />
            </Component>
            <Component Id="cmp73BB1EEB9E13ECE198394FD0EA8A707C" Directory="DISTRIBUTOR" Guid="{59DEE989-C98B-45A0-B9A9-CF83F2488A46}">
                <File Id="filA3EC21402F50AC4C94CBA98BD7EC596D" KeyPath="yes" Source="$(var.DistributorSource)\MySynch.Common.pdb" />
            </Component>
            <Component Id="cmpF930B2D0A6A8ABDDAA5D6ABF6DF82898" Directory="DISTRIBUTOR" Guid="{C6B3B5EF-8EF7-426C-9E4E-B27BC1056A01}">
                <File Id="fil0585421C1C9906D3743E0A33E7264FB2" KeyPath="yes" Source="$(var.DistributorSource)\MySynch.Contracts.dll" />
            </Component>
            <Component Id="cmp36441EA39956CA8965CA618CCD75E56A" Directory="DISTRIBUTOR" Guid="{46176C00-DFDD-437F-9984-9F5222B2894D}">
                <File Id="fil2BDF2E59A8632684305BFC8C1DC8D573" KeyPath="yes" Source="$(var.DistributorSource)\MySynch.Contracts.pdb" />
            </Component>
            <Component Id="cmpE79301B5FA8BF5136B5A35A3D6C8EA7B" Directory="DISTRIBUTOR" Guid="{60BE18EC-02F2-4536-9E5F-81182F00E93A}">
                <File Id="filEF4B0FCD23B5D2FAF07482DF6B0E27E7" KeyPath="yes" Source="$(var.DistributorSource)\MySynch.Core.dll" />
            </Component>
            <Component Id="cmpC12FB080990DBA33C586F9A2978260FC" Directory="DISTRIBUTOR" Guid="{8EC428D1-2050-49DB-AF37-1F759FAEA359}">
                <File Id="filCFABEE925BFC261353636443983D4822" KeyPath="yes" Source="$(var.DistributorSource)\MySynch.Core.dll.config" />
            </Component>
            <Component Id="cmp43E83A79BF5E23FF1C0A202BDE015BE6" Directory="DISTRIBUTOR" Guid="{731CBCDD-1011-4531-B9CB-FD7C42BA2326}">
                <File Id="filAD0A6B26ABEF085548B3F2CF9E3F292B" KeyPath="yes" Source="$(var.DistributorSource)\MySynch.Core.pdb" />
            </Component>
            <Component Id="cmpF364630D0E987EE779C6FFF0134BA6B5" Directory="DISTRIBUTOR" Guid="{AF512A15-A761-497C-8797-9A06732FE69C}">
                <File Id="filFB35767815588D95131CEFB5E459C061" KeyPath="yes" Source="$(var.DistributorSource)\MySynch.Core.WCF.Clients.dll" />
            </Component>
            <Component Id="cmpDB174DF5795BCBAC3B78B989BE7EE72B" Directory="DISTRIBUTOR" Guid="{70B0C5DB-CB9E-4808-B637-3E119F957D12}">
                <File Id="fil8857BDFB936620DD15472E3093502B0B" KeyPath="yes" Source="$(var.DistributorSource)\MySynch.Core.WCF.Clients.pdb" />
            </Component>
            <Component Id="cmpAD04C1B916B0AFE5E1D54F3F85AD1EB8" Directory="DISTRIBUTOR" Guid="{1B09A137-C34F-44BF-9792-1FEF714A5E9B}">
                <File Id="fil3B654D26A30CB3345585E5AAC18CE06C" KeyPath="yes" Source="$(var.DistributorSource)\MySynch.Monitor.pdb" />
            </Component>
            <Component Id="cmp49763E4F8062CBEEDB1EA15615AD7F7D" Directory="DISTRIBUTOR" Guid="{031F4A07-A744-4DDE-BCBF-F8A2214A4EE5}">
                <File Id="filFD5C817A4149E067A76A0EA279D01832" KeyPath="yes" Source="$(var.DistributorSource)\MySynch.Proxies.dll" />
            </Component>
            <Component Id="cmp75701AA91B1C074ADA413FE098437FEE" Directory="DISTRIBUTOR" Guid="{2253A9AB-E79D-47C1-83DF-3A106CDC8DBF}">
                <File Id="filD2C7BD4A21ADD248CD669D0607EA9755" KeyPath="yes" Source="$(var.DistributorSource)\MySynch.Proxies.pdb" />
            </Component>
            <Component Id="cmp3DCEB894F1D51A1631DBCB9AC59EC05C" Directory="dirF62B52D5FB8B7D3C7C7EC470D059B6F8" Guid="{A6152A61-0215-4CE9-A129-B20D34610678}">
                <File Id="filB687B0B0532DEC04FCE1FA9E6EBF7C42" KeyPath="yes" Source="$(var.DistributorSource)\map\distributormap.xml" />
            </Component>
        </ComponentGroup>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dirF62B52D5FB8B7D3C7C7EC470D059B6F8" />
    </Fragment>
</Wix>