<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="MONITOR" />
    </Fragment>
    <Fragment>
        <ComponentGroup Id="MonitorGroup">
            <Component Id="cmp6F291CDC95027F892BEF408E420A803B" Directory="MONITOR" Guid="{2209CB39-E0BF-43BB-83DA-55B834084C08}">
                <File Id="fil869997341C2316051DC1E2D264B4FDBA" KeyPath="yes" Source="$(var.MonitorSource)\Hardcodet.Wpf.TaskbarNotification.dll" />
            </Component>
            <Component Id="cmp9C2C3DC6B5C7489CBF9B9A7BB23411B0" Directory="MONITOR" Guid="{F0EC7B17-0880-4042-8297-D85C1C3979C4}">
                <File Id="filB19FA6231AA519420437E3D81E8504FD" KeyPath="yes" Source="$(var.MonitorSource)\Hardcodet.Wpf.TaskbarNotification.pdb" />
            </Component>
            <Component Id="cmpADDA3FE54FB209D25106348AFE16E010" Directory="MONITOR" Guid="{8F1E52CB-8D4D-470F-BD35-FC597A2C3321}">
                <File Id="filA1204219BB719057D4419095F069B07B" KeyPath="yes" Source="$(var.MonitorSource)\Hardcodet.Wpf.TaskbarNotification.xml" />
            </Component>
            <Component Id="cmpAE35281A5241453DDC3A02B63A3CDAB0" Directory="MONITOR" Guid="{47F52D42-EF0E-4331-9E00-2A37F4141326}">
                <File Id="fil827FF17AF3421413BE66EF7EED86C76B" KeyPath="yes" Source="$(var.MonitorSource)\log4net.dll" />
            </Component>
            <Component Id="cmp54DAAAF28E5E493541F4E87C5BE2F1CE" Directory="MONITOR" Guid="{BEA04116-D7E9-4065-9755-35FC1EB0F4DF}">
                <File Id="fil92755B4D38D8BDF274F098DBCB2DF9CC" KeyPath="yes" Source="$(var.MonitorSource)\log4net.xml" />
            </Component>
            <Component Id="cmpF0C234CA203DE8FDC42E33C9C7C6CFA7" Directory="MONITOR" Guid="{81B21258-984C-47AF-9D93-7CB442B4A62D}">
                <File Id="fil9E244AAD910220CD9DB3EE5BF60A4D05" KeyPath="yes" Source="$(var.MonitorSource)\MySynch.Contracts.dll" />
            </Component>
            <Component Id="cmpBFD48AA544E9D912EE1EBC569FC3516E" Directory="MONITOR" Guid="{A7F80358-D2F4-48C9-BC14-2BCE7CD9BE5A}">
                <File Id="filAF2D31002870BCEC252C4AEA02A80F2D" KeyPath="yes" Source="$(var.MonitorSource)\MySynch.Monitor.exe.config" />
            </Component>
            <Component Id="cmpCE414CC6BEB32EF84C62D6A8CE32FE2D" Directory="MONITOR" Guid="{FC76BC0A-4751-46F0-8B47-66F010084FC7}">
                <File Id="fil07F4A29D1D893F45AF654F95E251B91B" KeyPath="yes" Source="$(var.MonitorSource)\MySynch.Monitor.pdb" />
            </Component>
            <Component Id="cmp8611587FCF74EE9177EDA50B47E3DDA6" Directory="MONITOR" Guid="{CA32F5FD-E62B-43D8-A504-B5A13BEDF131}">
                <File Id="filA901C473556EE0D84ED5ADD5EE292139" KeyPath="yes" Source="$(var.MonitorSource)\MySynch.Proxies.Autogenerated.dll" />
            </Component>
            <Component Id="cmpF8DE52010F83F4867F7B00074B329911" Directory="MONITOR" Guid="{963360D9-E27D-444D-BCFF-1F83F7F06956}">
                <File Id="fil1CC6783E7FAAB69E2B5F8DA3E58BE4DD" KeyPath="yes" Source="$(var.MonitorSource)\Sciendo.Common.dll" />
            </Component>
            <Component Id="cmpA0A012BD3906FA97BE52D0BB20A38B9D" Directory="MONITOR" Guid="{C626580E-759D-4A41-B051-5ADE29D838D8}">
                <File Id="filE5360D135FC470D372555AF8256C0463" KeyPath="yes" Source="$(var.MonitorSource)\Sciendo.Common.pdb" />
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>