<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="MONITOR" />
    </Fragment>
    <Fragment>
        <ComponentGroup Id="MonitorGroup">
            <Component Id="cmp6F291CDC95027F892BEF408E420A803B" Directory="MONITOR" Guid="{0CB9E3E3-4318-4AD6-882B-3503BA1C6C29}">
                <File Id="fil869997341C2316051DC1E2D264B4FDBA" KeyPath="yes" Source="$(var.MonitorSource)\Hardcodet.Wpf.TaskbarNotification.dll" />
            </Component>
            <Component Id="cmp9C2C3DC6B5C7489CBF9B9A7BB23411B0" Directory="MONITOR" Guid="{B563AEB2-A306-4FD5-9BE2-96E7E7CDC4B8}">
                <File Id="filB19FA6231AA519420437E3D81E8504FD" KeyPath="yes" Source="$(var.MonitorSource)\Hardcodet.Wpf.TaskbarNotification.pdb" />
            </Component>
            <Component Id="cmpADDA3FE54FB209D25106348AFE16E010" Directory="MONITOR" Guid="{90C95CD4-D103-4901-8F80-90E20E28E788}">
                <File Id="filA1204219BB719057D4419095F069B07B" KeyPath="yes" Source="$(var.MonitorSource)\Hardcodet.Wpf.TaskbarNotification.xml" />
            </Component>
            <Component Id="cmpAE35281A5241453DDC3A02B63A3CDAB0" Directory="MONITOR" Guid="{F538547C-4488-42AA-8132-DA7E9DDBC3B9}">
                <File Id="fil827FF17AF3421413BE66EF7EED86C76B" KeyPath="yes" Source="$(var.MonitorSource)\log4net.dll" />
            </Component>
            <Component Id="cmp54DAAAF28E5E493541F4E87C5BE2F1CE" Directory="MONITOR" Guid="{AB873444-448B-42CC-8E48-8B5AB0D8133A}">
                <File Id="fil92755B4D38D8BDF274F098DBCB2DF9CC" KeyPath="yes" Source="$(var.MonitorSource)\log4net.xml" />
            </Component>
            <Component Id="cmpF0C234CA203DE8FDC42E33C9C7C6CFA7" Directory="MONITOR" Guid="{F89CE348-CD44-424B-900F-6E133ACD47B7}">
                <File Id="fil9E244AAD910220CD9DB3EE5BF60A4D05" KeyPath="yes" Source="$(var.MonitorSource)\MySynch.Contracts.dll" />
            </Component>
            <Component Id="cmpBFD48AA544E9D912EE1EBC569FC3516E" Directory="MONITOR" Guid="{33E08258-BC2B-4CC4-A01B-FC56864BC85A}">
                <File Id="filAF2D31002870BCEC252C4AEA02A80F2D" KeyPath="yes" Source="$(var.MonitorSource)\MySynch.Monitor.exe.config" />
            </Component>
            <Component Id="cmpCE414CC6BEB32EF84C62D6A8CE32FE2D" Directory="MONITOR" Guid="{DAFB594F-7A59-4160-BB66-5EB335A817F1}">
                <File Id="fil07F4A29D1D893F45AF654F95E251B91B" KeyPath="yes" Source="$(var.MonitorSource)\MySynch.Monitor.pdb" />
            </Component>
            <Component Id="cmp8611587FCF74EE9177EDA50B47E3DDA6" Directory="MONITOR" Guid="{AA960038-4985-484D-A3F9-14144EA4DBF8}">
                <File Id="filA901C473556EE0D84ED5ADD5EE292139" KeyPath="yes" Source="$(var.MonitorSource)\MySynch.Proxies.Autogenerated.dll" />
            </Component>
            <Component Id="cmpF8DE52010F83F4867F7B00074B329911" Directory="MONITOR" Guid="{2DFF2D05-D1AA-459E-949B-0FEAB1C3ED92}">
                <File Id="fil1CC6783E7FAAB69E2B5F8DA3E58BE4DD" KeyPath="yes" Source="$(var.MonitorSource)\Sciendo.Common.dll" />
            </Component>
            <Component Id="cmpA0A012BD3906FA97BE52D0BB20A38B9D" Directory="MONITOR" Guid="{5BEC0825-6217-4DA7-96DF-4571C06B1BE3}">
                <File Id="filE5360D135FC470D372555AF8256C0463" KeyPath="yes" Source="$(var.MonitorSource)\Sciendo.Common.pdb" />
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>