<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension" xmlns:fire="http://schemas.microsoft.com/wix/FirewallExtension">
  <Fragment>
    <ComponentGroup Id="MonitorGroupConf">
      <Component Id="MySynch.Monitor" Directory="MONITOR" Guid="{BB26C907-F32D-41F9-9B94-B706C28E3213}">
        <File Id="MySynch.Monitor.exe" Name="MySynch.Monitor.exe" Source="$(var.MonitorExeSource)\MySynch.Monitor.exe" Vital="yes" KeyPath="yes">
          <Shortcut Id="startmenu" Directory="ProgramMenuDir" Name="MySynch" WorkingDirectory='MONITOR' Advertise="yes" Icon="MySynch.Monitor.exe" IconIndex="0">
            <Icon Id="MySynch.Monitor.exe" SourceFile="$(var.MonitorExeSource)\MySynch.Monitor.exe" />
          </Shortcut>
          <Shortcut Id="desktopApp" Directory="DesktopFolder" Name="MySynch" WorkingDirectory='MONITOR' Advertise="yes"  Icon="MySynch.Monitor.exe" IconIndex="0">
          </Shortcut>
        </File>
      </Component>
      <Component Id="MySynchAutostart" Guid="{F4897930-B94D-4B53-B4C1-2C3D638EDE03}" Directory="MONITOR">
        <RegistryValue Id="MySynch.rst" Root="HKMU" Action="write"
                       Key="Software\Microsoft\Windows\CurrentVersion\Run"
                       Name="MySynch Autostart"
                       Value="[MONITOR]MySynch.Monitor.exe"
                       Type="string"/>
      </Component>
    </ComponentGroup>
    <ComponentGroup Id="BrokerGroupConf">
      <Component Id="MySynch.Broker.Service" Directory="BROKER" Guid="{94CFA246-036F-4114-9348-FBCD42B0A400}">
        <File Id="MySynch.Broker.exe" Name="MySynch.Broker.exe" Source="$(var.BrokerExeSource)\MySynch.Broker.exe" Vital="yes" KeyPath="yes"/>
        <ServiceInstall
          Id="BrokerServiceInstaller"
          Type="ownProcess"
          Vital="yes"
          Name="MySynch.Broker"
          DisplayName="MySynch Broker"
          Description="Distributing messages from a MySynch Publisher to a number of subscribers"
          Start="auto"
          Account="LocalSystem"
          ErrorControl="ignore"
          Interactive="no">
        </ServiceInstall>
        <ServiceControl Id="StartBrokerService" Start="install" Stop="both" Remove="uninstall" Name="MySynch.Broker" Wait="yes" />
      </Component>
    </ComponentGroup>
    <ComponentGroup Id="PublisherGroupConf">
      <Component Id="MySynch.Publisher.exe.config" Directory="PUBLISHER" Guid="{7C74FEB9-2A53-4E73-86A9-C1D001FEAAF5}">
        <File Id="MySynch.Publisher.exe.config" KeyPath="yes" Source="$(var.PublisherConfigSource)\MySynch.Publisher.exe.config" />
        <util:XmlFile Id="SetBrokerUrl"
                      Action="setValue"
                      ElementPath="//mySynchPublisherConfiguration/@BrokerUrl"
                      Value="[BRKURLVAL]"
                      File="[#MySynch.Publisher.exe.config]" />
        <util:XmlFile Id="SetPublisherRootFolder"
                      Action="setValue"
                      ElementPath="//mySynchPublisherConfiguration/@LocalRootFolder"
                      Value="[SRCROOTDIRVAL]"
                      File="[#MySynch.Publisher.exe.config]" />

      </Component>
      <Component Id="MySynch.Publisher.Service" Directory="PUBLISHER" Guid="{A57774C4-F4E5-4E14-9B4B-09C8BD6EFCAC}">
        <File Id="MySynch.Publisher.exe" Name="MySynch.Publisher.exe" Source="$(var.PublisherExeSource)\MySynch.Publisher.exe" Vital="yes" KeyPath="yes"/>
        <ServiceInstall
          Id="PublisherServiceInstaller"
          Type="ownProcess"
          Vital="yes"
          Name="MySynch.Publisher"
          DisplayName="MySynch Publisher"
          Description="Monitores folder [SRCROOTDIRVAL] and publishes any changes"
          Start="auto"
          Account="LocalSystem"
          ErrorControl="ignore"
          Interactive="no">
        </ServiceInstall>
        <ServiceControl Id="StartPublisherService" Start="install" Stop="both" Remove="uninstall" Name="MySynch.Publisher" Wait="yes" />
      </Component>
    </ComponentGroup>
    <ComponentGroup Id="SubscriberGroupConf">
      <Component Id="MySynch.Subscriber.exe.config" Directory="SUBSCRIBER" Guid="{D2661E8D-426A-4D56-9050-4BC57AC42F8A}">
        <File Id="MySynch.Subscriber.exe.config" KeyPath="yes" Source="$(var.SubscriberConfigSource)\MySynch.Subscriber.exe.config" />
        <util:XmlFile Id="SetSubscriberBrokerUrl"
                      Action="setValue"
                      ElementPath="//mySynchSubscriberConfiguration/@BrokerUrl"
                      Value="[BRKURLVAL]"
                      File="[#MySynch.Subscriber.exe.config]" />
        <util:XmlFile Id="SetSubscriberRootFolder"
                      Action="setValue"
                      ElementPath="//mySynchSubscriberConfiguration/@LocalRootFolder"
                      Value="[DSTROOTDIRVAL]"
                      File="[#MySynch.Subscriber.exe.config]" />
      </Component>
      <Component Id="MySynch.Subscriber.Service" Directory="SUBSCRIBER" Guid="{749716C2-B818-4127-B31D-ACEFB95C6B7B}">
        <File Id="MySynch.Subscriber.exe" Name="MySynch.Subscriber.exe" Source="$(var.SubscriberExeSource)\MySynch.Subscriber.exe" Vital="yes" KeyPath="yes"/>
        <ServiceInstall
          Id="SubscriberServiceInstaller"
          Type="ownProcess"
          Vital="yes"
          Name="MySynch.Subscriber"
          DisplayName="MySynch Subscriber"
          Description="Applies changes to folder [DSTROOTDIRVAL]"
          Start="auto"
          Account="LocalSystem"
          ErrorControl="ignore"
          Interactive="no">
        </ServiceInstall>
        <ServiceControl Id="StartSuscriberService" Start="install" Stop="both" Remove="uninstall" Name="MySynch.Subscriber" Wait="yes" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>