<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="SUBSCRIBER" />
    </Fragment>
    <Fragment>
        <ComponentGroup Id="SubscriberGroup">
            <Component Id="cmp6DDE03FB5E2E4667003090FA41D50169" Directory="SUBSCRIBER" Guid="{3A695DB9-AA3B-4AD0-B577-19B6E0285FA5}">
                <File Id="filA603783E1FE78A128322496CC657C4C1" KeyPath="yes" Source="$(var.SubscriberSource)\Castle.Core.dll" />
            </Component>
            <Component Id="cmp33BF47CEBA46AEFA1D50041054CFFC68" Directory="SUBSCRIBER" Guid="{8CE55BA9-E74E-4606-A3C7-C9D5C659E810}">
                <File Id="filB3E3C9CCC3178302A65529AABBB9F1C6" KeyPath="yes" Source="$(var.SubscriberSource)\Castle.Core.xml" />
            </Component>
            <Component Id="cmp238C74638D5A91B9F03E75229FD75346" Directory="SUBSCRIBER" Guid="{8A42BF8C-1109-463D-A779-05E80C9E6CE2}">
                <File Id="filB8745F2DC21656B619FB73C816BF0394" KeyPath="yes" Source="$(var.SubscriberSource)\Castle.Windsor.dll" />
            </Component>
            <Component Id="cmp96F811D8D6475E64996DD45E2191213B" Directory="SUBSCRIBER" Guid="{692319C5-A026-411E-8616-0367536DB8C6}">
                <File Id="fil9FB98F25D296AA33AC561D2B5D29E4E6" KeyPath="yes" Source="$(var.SubscriberSource)\Castle.Windsor.xml" />
            </Component>
            <Component Id="cmp890DA65FDE6012215C4598611134539F" Directory="SUBSCRIBER" Guid="{CD7D55AD-118A-412F-A47D-CC836DE843BC}">
                <File Id="filA945703DFD33CFBA91F713EE91972A77" KeyPath="yes" Source="$(var.SubscriberSource)\log4net.config" />
            </Component>
            <Component Id="cmpD9E351D239C6B3313079084CF440AB10" Directory="SUBSCRIBER" Guid="{4E9F1B59-B276-45E4-9F5E-FE6ACF2846D7}">
                <File Id="fil073C5A0BD5752A56C0A3150AFEA3923C" KeyPath="yes" Source="$(var.SubscriberSource)\log4net.dll" />
            </Component>
            <Component Id="cmpBF4BB05DA0276CDBE24673C4831134A2" Directory="SUBSCRIBER" Guid="{3EC5070A-8DE3-4F61-95C8-8C159BCED1A3}">
                <File Id="filBDA3AE645935EE907FED9F04AAE0B9D8" KeyPath="yes" Source="$(var.SubscriberSource)\log4net.xml" />
            </Component>
            <Component Id="cmp6672C98CD29BC5CD49735FFF7143570E" Directory="SUBSCRIBER" Guid="{ABB95EF4-3F9B-44BD-8AFC-48A65BC8BB58}">
                <File Id="filC1122C68B7DFF6E562D5E182F4516FF6" KeyPath="yes" Source="$(var.SubscriberSource)\MySynch.Contracts.dll" />
            </Component>
            <Component Id="cmpE2AB126EE00B385B2AFFEBB877CDE83F" Directory="SUBSCRIBER" Guid="{A39A61D5-9D81-49EF-B159-61A20CE89F2F}">
                <File Id="fil1A3D9DA898D877F842575DDBB774DA2C" KeyPath="yes" Source="$(var.SubscriberSource)\MySynch.Core.dll" />
            </Component>
            <Component Id="cmp5B98A68CD720CE6C067B759FA22335DF" Directory="SUBSCRIBER" Guid="{5236A36C-36C4-4E82-B22C-492CB0E2EAAD}">
                <File Id="fil8BA70B7D1EE7427BD9F40DB750B81078" KeyPath="yes" Source="$(var.SubscriberSource)\MySynch.Proxies.Autogenerated.dll" />
            </Component>
            <Component Id="cmpA10F95FE579D56B5A8D928F1E482D068" Directory="SUBSCRIBER" Guid="{500E7EBB-753B-4054-932D-8B19FD4F3E7F}">
                <File Id="fil4EFBF54CA26FED248EF206A98E157EE4" KeyPath="yes" Source="$(var.SubscriberSource)\Sciendo.Common.dll" />
            </Component>
            <Component Id="cmp28AF40EE81170F2D32BA5BB34FC5211C" Directory="SUBSCRIBER" Guid="{0805F97D-F5EC-4107-A1E4-4634BD0E761E}">
                <File Id="fil36DD73C675C059BA47DBF6C8D3B2DDDA" KeyPath="yes" Source="$(var.SubscriberSource)\Sciendo.Common.pdb" />
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>