<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="SUBSCRIBER" />
    </Fragment>
    <Fragment>
        <ComponentGroup Id="SubscriberGroup">
            <Component Id="cmp6DDE03FB5E2E4667003090FA41D50169" Directory="SUBSCRIBER" Guid="{CF4DD02E-3ECC-4E2E-AB23-F9DBD9030AD5}">
                <File Id="filA603783E1FE78A128322496CC657C4C1" KeyPath="yes" Source="$(var.SubscriberSource)\Castle.Core.dll" />
            </Component>
            <Component Id="cmp33BF47CEBA46AEFA1D50041054CFFC68" Directory="SUBSCRIBER" Guid="{86713911-634B-4DB5-B4E8-0B302040F1E8}">
                <File Id="filB3E3C9CCC3178302A65529AABBB9F1C6" KeyPath="yes" Source="$(var.SubscriberSource)\Castle.Core.xml" />
            </Component>
            <Component Id="cmp238C74638D5A91B9F03E75229FD75346" Directory="SUBSCRIBER" Guid="{9882728F-27B4-46B8-B25C-4152B2CFACCB}">
                <File Id="filB8745F2DC21656B619FB73C816BF0394" KeyPath="yes" Source="$(var.SubscriberSource)\Castle.Windsor.dll" />
            </Component>
            <Component Id="cmp96F811D8D6475E64996DD45E2191213B" Directory="SUBSCRIBER" Guid="{EE994C6F-4EF9-4F7D-B54F-4AE44AFE0C7A}">
                <File Id="fil9FB98F25D296AA33AC561D2B5D29E4E6" KeyPath="yes" Source="$(var.SubscriberSource)\Castle.Windsor.xml" />
            </Component>
            <Component Id="cmp890DA65FDE6012215C4598611134539F" Directory="SUBSCRIBER" Guid="{DC740CFF-E4C6-47FB-BF46-307A8120950F}">
                <File Id="filA945703DFD33CFBA91F713EE91972A77" KeyPath="yes" Source="$(var.SubscriberSource)\log4net.config" />
            </Component>
            <Component Id="cmpD9E351D239C6B3313079084CF440AB10" Directory="SUBSCRIBER" Guid="{4DC3DCBA-5FC9-4561-9268-CF5025B40162}">
                <File Id="fil073C5A0BD5752A56C0A3150AFEA3923C" KeyPath="yes" Source="$(var.SubscriberSource)\log4net.dll" />
            </Component>
            <Component Id="cmpBF4BB05DA0276CDBE24673C4831134A2" Directory="SUBSCRIBER" Guid="{442B6EFA-F1F6-4F8D-B650-44AB3322EF66}">
                <File Id="filBDA3AE645935EE907FED9F04AAE0B9D8" KeyPath="yes" Source="$(var.SubscriberSource)\log4net.xml" />
            </Component>
            <Component Id="cmp6672C98CD29BC5CD49735FFF7143570E" Directory="SUBSCRIBER" Guid="{25BE3538-EFCB-4D43-8184-0160444AC5E9}">
                <File Id="filC1122C68B7DFF6E562D5E182F4516FF6" KeyPath="yes" Source="$(var.SubscriberSource)\MySynch.Contracts.dll" />
            </Component>
            <Component Id="cmpE2AB126EE00B385B2AFFEBB877CDE83F" Directory="SUBSCRIBER" Guid="{D178337E-7958-4B95-B42A-70A337BC5A7A}">
                <File Id="fil1A3D9DA898D877F842575DDBB774DA2C" KeyPath="yes" Source="$(var.SubscriberSource)\MySynch.Core.dll" />
            </Component>
            <Component Id="cmp5B98A68CD720CE6C067B759FA22335DF" Directory="SUBSCRIBER" Guid="{15A8EF91-5405-481E-B7C1-B35A7A25460E}">
                <File Id="fil8BA70B7D1EE7427BD9F40DB750B81078" KeyPath="yes" Source="$(var.SubscriberSource)\MySynch.Proxies.Autogenerated.dll" />
            </Component>
            <Component Id="cmpA10F95FE579D56B5A8D928F1E482D068" Directory="SUBSCRIBER" Guid="{FDBA8324-9A2B-4140-B42A-AF913971CFB0}">
                <File Id="fil4EFBF54CA26FED248EF206A98E157EE4" KeyPath="yes" Source="$(var.SubscriberSource)\Sciendo.Common.dll" />
            </Component>
            <Component Id="cmp28AF40EE81170F2D32BA5BB34FC5211C" Directory="SUBSCRIBER" Guid="{01DA1783-3A4D-40BD-B89E-FF5D6C51D277}">
                <File Id="fil36DD73C675C059BA47DBF6C8D3B2DDDA" KeyPath="yes" Source="$(var.SubscriberSource)\Sciendo.Common.pdb" />
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>