<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="DistributorMap" value="C:\Code\Sciendo\MySynch\MySynch.WindowsService\bin\Debug\map\distributormap.xml"/>
    <add key="LocalPublisherRootFolder" value="C:\MySynch.Source.Test.Root\"/>
  </appSettings>
  <system.serviceModel>
    <services>
      <service name="MySynch.Core.ChangePublisher" behaviorConfiguration="PublisherSubscriberServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8000/publisher"/>
          </baseAddresses>
        </host>
        <!-- this endpoint is exposed at the base address provided by host: http://localhost:8000/publisher  -->
        <endpoint address="" binding="wsHttpBinding" contract="MySynch.Contracts.IPublisher"/>
        <!-- the mex endpoint is exposed at http://localhost:8000/publisher/mex -->
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service name="MySynch.Core.ChangeApplyer" behaviorConfiguration="PublisherSubscriberServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8000/subscriber"/>
          </baseAddresses>
        </host>
        <!-- this endpoint is exposed at the base address provided by host: http://localhost:8000/subscriber  -->
        <endpoint address="" binding="wsHttpBinding" contract="MySynch.Contracts.IChangeApplyer"/>
        <!-- the mex endpoint is exposed at http://localhost:8000/subscriber/mex -->
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service name="MySynch.Core.Distributor" behaviorConfiguration="DistributorServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8000/distributorMonitor"/>
          </baseAddresses>
        </host>
        <!-- this endpoint is exposed at the base address provided by host: http://localhost:8000/distributorMonitor  -->
        <endpoint address="" binding="wsDualHttpBinding" contract="MySynch.Contracts.IDistributorMonitor"/>
        <!-- the mex endpoint is exposed at http://localhost:8000/distributorMonitor/mex -->
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="PublisherSubscriberServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="False"/>
        </behavior>
        <behavior name="DistributorServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="False"/>
          
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
